body, html { border-top: solid 3px #8AAA25; }
main { border-bottom: solid 5px #8AAA25; }


.cv-noiznon { font-family: Lato, Helvetica, sans-serif; color:#999; font-size:.9em; line-height:1em; display:block; }

footer { font-family: Lato, Helvetica, sans-serif; font-size:.9em; color:#999; }